FoodSpy/node_modules
FoodSpy/dist
api/node_modules
api/dist

# Resources/

token.txt

# foods / meals / intakes backend

FoodSpyAPI/.vs
FoodSpyAPI/bin
FoodSpyAPI/obj
FoodSpyAPI/appsettings.json

FoodSpyAPIUnitTests/.vs
FoodSpyAPIUnitTests/bin
FoodSpyAPIUnitTests/obj
FoodSpyAPIUnitTests/appsettings.json

FoodSpyAPIIntegrationTests/.vs
FoodSpyAPIIntegrationTests/bin
FoodSpyAPIIntegrationTests/obj
FoodSpyAPIIntegrationTests/appsettings.json

Tools/

Foods/