FoodSpy/node_modules
api/node_modules

# Resources/

token.txt

# foods / meals / intakes backend

FoodSpyAPI/.vs
FoodSpyAPI/bin
FoodSpyAPI/obj
FoodSpyAPI/appsettings.json

FoodSpyAPIUnitTests/.vs
FoodSpyAPIUnitTests/bin
FoodSpyAPIUnitTests/obj
FoodSpyAPIUnitTests/appsettings.json

FoodSpyAPIIntegrationTests/.vs
FoodSpyAPIIntegrationTests/bin
FoodSpyAPIIntegrationTests/obj
FoodSpyAPIIntegrationTests/appsettings.json