<p *ngIf="isInDebugMode"><b>intake-history</b> works!</p>

<h1>
   Intake information
</h1>

<h2>
   {{ authenticatedUserEmail }}
</h2>

<div *ngIf="errorResponse">
   <app-error-response [errorResponse]="errorResponse"></app-error-response>
</div>

<div *ngIf="isLoading" class="loading-spinner">
   <app-loading-spinner></app-loading-spinner>
</div>

<div *ngIf="intakeWasFound && !isLoading">

   <div *ngIf="isInDebugMode">
      <p>
         Intake email: {{ intake.email }}.
      </p>
   </div>

   <div>
      <p>
         Created at: {{ intake.createdAt | date: 'short' }}.
      </p>
   </div>

   <div>
      <label><b>Meals:</b></label>
      <app-meal-item *ngFor="let food of intake.meals" [meal]="food">
      </app-meal-item>
   </div>


</div>

<div *ngIf="!intakeWasFound && !isLoading">
   <p>
      Intake was not found!
   </p>
</div>

<!-- Go back button -->
<div>
   <button [routerLink]="['/dashboard']">
      Back
   </button>
</div>