<p *ngIf="isInDebugMode"><b>intake-history</b> works!</p>

<div class="mainDiv">
   <h2 class="primary-text">
      Details for {{ intake.createdAt | date: 'MMMM d, y' }}
   </h2>

   <div *ngIf="errorResponse">
      <app-error-response [errorResponse]="errorResponse"></app-error-response>
   </div>

   <div *ngIf="isLoading" class="loading-spinner">
      <app-loading-spinner></app-loading-spinner>
   </div>

   <div *ngIf="intakeWasFound && !isLoading">

      <div *ngIf="isInDebugMode">
         <p>
            Intake email: {{ intake.email }}.
         </p>
         <p>
            Created at: {{ intake.createdAt | date: 'MMMM d, y HH:mm' }}.
         </p>
      </div>

      <p>
         <b><span>Calorie intake</span></b>: {{ intake.calories }} / {{ userTargetCalories }} kCal
      </p>

      <div class="progress aqua" [attr.data-width]="progress" (click)="fillGraph()">
         <div class="progress-text">{{progress}}</div>
         <div class="progress-bar" [style.width]="progress">
            <div class="progress-text">{{progress}}</div>
         </div>
      </div>

      <div id="graph">
         <p>
            <b><span>Fats</span></b>: {{ fats | number : '1.0-2' }} g<br>
            <b><span>Saturates</span></b>: {{ saturates | number : '1.0-2' }} g<br>
            <b><span>Carbohydrates</span></b>: {{ carbohydrates | number : '1.0-2' }} g<br>
            <b><span>Sugars</span></b>: {{ sugars | number : '1.0-2' }} g<br>
            <b><span>Proteins</span></b>: {{ proteins | number : '1.0-2' }} g<br>
            <b><span>Salt</span></b>: {{ salt | number : '1.0-2' }} g
         </p>
      </div>

      <!--
      <div>
         <label><b>Meals:</b></label>
         <p *ngFor="let mealFood of mealFoods">
            <span *ngIf="isInDebugMode">{{ mealFood.mfid }}</span>
            <span class="food">{{ mealFood.food?.displayName }} - <b><span>Quantity</span></b>: {{ mealFood.quantity }} g</span><br>
            (<b><span>Energy</span></b>: {{ mealFood.food?.energy }} kCal,
            <b><span>Fats</span></b>: {{ mealFood.food?.fats | number : '1.0-2' }} g,
            <b><span>Saturates</span></b>: {{ mealFood.food?.saturates | number : '1.0-2' }} g,
            <b><span>Carbohydrates</span></b>: {{ mealFood.food?.carbohydrates | number : '1.0-2' }} g,
            <b><span>Sugars</span></b>: {{ mealFood.food?.sugars | number : '1.0-2' }} g,
            <b><span>Proteins</span></b>: {{ mealFood.food?.proteins | number : '1.0-2' }} g,
            <b><span>Salt</span></b>: {{ mealFood.food?.salt | number : '1.0-2' }} g)
         </p>
      </div>
      -->

      <div>
         <label><b>Meals:</b></label>
         <app-meal-item *ngFor="let meal of intake.meals" [meal]="meal">
         </app-meal-item>
      </div>

   </div>

   <div *ngIf="!intakeWasFound && !isLoading">
      <p>
         Intake was not found!
      </p>
   </div>

   <!-- Go back button -->
   <div>
      <button [routerLink]="['/dashboard']">
         Back
      </button>
   </div>
</div>