<p *ngIf="isInDebugMode"><b>meal-item</b> works!</p>

<p *ngIf="isInDebugMode">
   Meal ID:
   {{ meal.id }}
</p>

<div *ngIf="isLoading" class="loading-spinner">
   <app-loading-spinner></app-loading-spinner>
</div>

<div *ngIf="!isLoading">
   <p>
      Meal type:
      <b>{{ meal.type }}</b>
   </p>

   <p>
      Created at:
      {{ meal.createdAt | date: 'MMM d, y HH:mm' }}
   </p>

   <!--
   <p>
      Foods:
      <app-food-item *ngFor="let food of foods" [food]="food">
      </app-food-item>
   </p>
   -->

   <div *ngFor="let food of foods">
      <p>
         <b>Name</b>:
         {{ food.displayName }}
      </p>
      <p>
         Energy:
         {{ food.energy }} g
      </p>
   </div>

   <!--
   <div *ngFor="let mealFood of meal.foods">
      TEST> {{ mealFood.displayName }}
   </div>

   <div *ngFor="let mealFood of meal.mealFoods">
      {{ mealFood.mfid }}, {{ mealFood.quantity }} {{ mealFood.unit }}
   </div>
   -->

</div>