inventory-manager-backend-master
inventory-manager-frontend-master
inventory-manager-backend-master.zip
inventory-manager-frontend-master.zip

/Deploy
Delpoy.rar

/nestjs-realworld-example-app-master
nestjs-realworld-example-app-master.zip

/Backups

CarPartAPI.zip
/CarPartAPI