<p *ngIf="isInDebugMode"><b>add-meal</b> works!</p>

<p *ngIf="isInDebugMode">CreatedAt: {{ intake.createdAt | date: 'MMM d, y HH:mm' }}.</p>

<div *ngIf="isLoading" class="loading-spinner">
    <app-loading-spinner></app-loading-spinner>
</div>

<div *ngIf="errorResponse">
    <app-error-response [errorResponse]="errorResponse"></app-error-response>
</div>

<div *ngIf="!isLoading">
    {{ intakeText }}
    <button *ngIf="canShowIntakeHistoryButton()" class="button" mat-stroked-button color="primary"
        (click)="viewIntakeDetails()">
        View
    </button>
</div>

<div *ngIf="!errorResponse">
    <h2>Daily intake goal: {{ userTargetCalories }} calories</h2>
    <h3>{{ intakeCaloriesConsumedText }}</h3>
</div>

<form [formGroup]="addMealForm" *ngIf="canSelectMealType()" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Select meal type</mat-label>
        <mat-select formControlName="mealType" (selectionChange)="onSelectedMealType($event)">
            <mat-option *ngFor="let mealType of mealTypes" [value]="mealType">
                {{ mealType }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- <br> -->

    <button type="submit" [disabled]="!isFormValid()">
        Add meal
    </button>
</form>

<div class="search" *ngIf="canSearch()">
    <input #searchBox type="text" id="search-box" (input)="search(searchBox.value)" placeholder="Look for food..." />
    <button type="submit" class="searchButton">
        Search
    </button>
</div>

<table mat-table [dataSource]="databaseFoods" *ngIf="canShowFoodsTable() && !isLoading">

    <!-- ID -->
    <ng-container matColumnDef="id" *ngIf="isInDebugMode">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
    </ng-container>

    <!-- Energy -->
    <ng-container matColumnDef="energy">
        <th mat-header-cell *matHeaderCellDef> Energy (kCal) </th>
        <td mat-cell *matCellDef="let element"> {{element.energy}} </td>
    </ng-container>

    <!-- Fats -->
    <ng-container matColumnDef="fats">
        <th mat-header-cell *matHeaderCellDef> Fats (g) </th>
        <td mat-cell *matCellDef="let element"> {{element.fats}} </td>
    </ng-container>

    <!-- Carbs -->
    <ng-container matColumnDef="carbs">
        <th mat-header-cell *matHeaderCellDef> Carbs (g) </th>
        <td mat-cell *matCellDef="let element"> {{element.carbohydrates}} </td>
    </ng-container>

    <!-- Proteins -->
    <ng-container matColumnDef="proteins">
        <th mat-header-cell *matHeaderCellDef> Proteins (g) </th>
        <td mat-cell *matCellDef="let element"> {{element.proteins}} </td>
    </ng-container>

    <!-- Selection checkbox -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef> Add to meal </th>
        <td mat-cell *matCellDef="let food">
            <!-- <mat-checkbox (change)="selectRow(food)" [checked]="checkIsRowSelected(food)"></mat-checkbox> -->
            <!--  routerLink="/edit/{{ food }}" -->
            <button class="button" mat-stroked-button color="accent" (click)="openDialog(food)">
                Add to meal
            </button>
        </td>
    </ng-container>

    <!-- Table headers -->
    <ng-container>
        <tr mat-header-row *matHeaderRowDef="foodsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: foodsColumns;"></tr>
    </ng-container>

</table>

<div *ngIf="canScanBarcode()">
    <button (click)="scanBarcode()">
        Scan barcode
    </button>
</div>

<!-- Go back button -->
<div>
    <button [routerLink]="['/dashboard']">
        Back
    </button>
</div>

<app-header></app-header>
<router-outlet></router-outlet>

<div *ngIf="isInDebugMode">
    <p>Form value:<br>{{ addMealForm.value | json }}</p>
    <p>Form status:<br>{{ addMealForm.status }}</p>
    <p><b>meal</b>: {{ meal | json }}</p>
    <p><b>addedMealFoods</b>: [</p>
    <p *ngFor="let food of addedMealFoods">
        {{ food | json }}
    </p>
    <p>] :<b>addedMealFoods</b></p>
    <!--
    <p><b>addedFoods</b>: [</p>
    <p *ngFor="let food of addedFoods">
        {{ food | json }}
    </p>
    <p>] :<b>addedFoods</b></p>
    -->
    <p><b>existingMealInIntake</b>: {{ existingMealInIntake | json }}</p>
    <p><b>existingMealTypes</b>: {{ existingMealTypes | json }}</p>
    <p><b>selectedMealType</b>: {{ selectedMealType | json }}</p>
    <p><b>intakeText</b>: {{ intakeText | json }}</p>
    <p><b>canShowIntakeHistoryButton()</b>: {{ canShowIntakeHistoryButton() | json }}</p>
</div>