<p *ngIf="isInDebugMode"><b>intakes</b> works!</p>

<div class="mainDiv">

   <h2 *ngIf="isInDebugMode">{{ currentTime | date: 'MMM d, y HH:mm:ss' }}</h2>
   <h2 *ngIf="!isInDebugMode">{{ currentTime | date: 'MMM d, y HH:mm' }}</h2>

   <div *ngIf="isLoading" class="loading-spinner">
      <app-loading-spinner></app-loading-spinner>
   </div>

   <h2>Daily intake goal: {{ userTargetCalories }} calories</h2>

   <div *ngIf="errorResponse">
      <app-error-response [errorResponse]="errorResponse"></app-error-response>
   </div>

   <!-- Intake history -->
   <h3 class="history" *ngIf="!errorResponse && canShowIntakesCards()">Intake history:</h3>
   <h3 class="history" *ngIf="!errorResponse && !canShowIntakesCards()">You have no intake history.</h3>

</div>

<div class="intakes-section" *ngIf="!errorResponse && !canShowIntakesCards()">
   <app-add-intake-card></app-add-intake-card>
</div>

<div class="intakes-section" *ngIf="!errorResponse && canShowIntakesCards()">
   <app-intakes-list [intakes]="intakes"></app-intakes-list>
   <app-add-intake-card></app-add-intake-card>
</div>

<div class="lastDiv">
</div>

<!-- Add new meal -->
<!--
<div *ngIf="!errorResponse">
   <button (click)="addNewMeal()">
      Add new meal to daily intake
   </button>
</div>
-->