<p *ngIf="isInDebugMode"><b>intakes</b> works!</p>

<!-- TO DO -->
<!-- Calendar -->

<h2>{{ currentTime | date: 'MMM d, y HH:mm' }}</h2>

<div *ngIf="isLoading" class="loading-spinner">
   <app-loading-spinner></app-loading-spinner>
</div>

<h2>Daily intake goal: {{ userTargetCalories }} calories</h2>

<div *ngIf="errorResponse">
   <app-error-response [errorResponse]="errorResponse"></app-error-response>
</div>

<!-- Intake history -->
<label><b>History:</b></label>

<div class="intakes-section" *ngIf="!canShowIntakesCards() && !isLoading">
   You have no intake history.
   <app-add-intake-card></app-add-intake-card>
</div>

<div class="intakes-section" *ngIf="canShowIntakesCards() && !isLoading">
   <app-intakes-list [intakes]="intakes"></app-intakes-list>
   <app-add-intake-card></app-add-intake-card>
</div>

<!-- Add new meal -->
<!--
<div *ngIf="!errorResponse">
   <button (click)="addNewMeal()">
      Add new meal to daily intake
   </button>
</div>
-->