@use "sass:color";

$primary: hsl(176, 56%, 55%);
// $primary-light: hsl(176, 56%, 85%);
$secondary: hsl(212, 14%, 19%);
// $ternary: hsl(212, 14%, 59%);
// $fourth: hsl(212, 14%, 79%);

$red: hsl(0, 100, 71%);
$white: hsl(120, 100, 98%);
// $gold: hsl(50, 100, 71%);
$green: hsl(69, 50%, 44%);
// $black: hsl(212, 14%, 9%);

$ternary: color.scale($secondary, $lightness: 40%);
$fourth: color.scale($secondary, $lightness: 60%);
$black: color.scale($secondary, $lightness: -10%);

$valid: $green;
$invalid: $red;

$text: $primary;

// $text-color: $white;
$autofill: $secondary;
