@use "sass:color";

$primary: hsl(176, 56%, 55%);
$secondary: hsl(212, 14%, 19%);
$red: hsl(0, 100%, 71%);
$white: hsl(120, 100%, 98%);
$green: hsl(69, 50%, 44%);

// $primary: hsl(123, 36%, 52%);
// $secondary: hsl(212, 14%, 14%);
// $red: hsl(334, 100%, 91%);
// $white: hsl(351, 51%, 40%);
// $green: hsl(123, 100%, 12%);

$ternary: color.adjust($secondary, $saturation: 0%, $lightness: +40%);
$fourth: color.adjust($primary, $saturation: 0%, $lightness: 0%);

$black: color.adjust($secondary, $saturation: 0%, $lightness: -10%);

// $ternary: hsl(212, 14%, 59%);
// $fourth: hsl(212, 14%, 79%);
// $black: hsl(212, 14%, 9%);

$valid: $green;
$invalid: $red;

// used as background color for Chrome form autocomplete
$autofill: $secondary;
