$primary: hsl(176, 56%, 55%);
$secondary: hsl(212, 14%, 19%);
$ternary: hsl(212, 14%, 59%);
$accent: rgb(255, 107, 107);
$white: rgb(247, 255, 247);
$gold: rgb(255, 230, 109);

$valid: yellowgreen;
$invalid: orangered;

$text: $primary;

$text-color: #afafaf;
$autofill: $secondary;
