<b>dashboard</b> works!

<!-- TO DO -->
<!-- Calendar -->

<h3>Welcome, {{ authenticatedUserEmail }}</h3>

<h2>{{ currentDate }}</h2>

<table mat-table [dataSource]="intakes">

    <!-- ID -->
    <ng-container matColumnDef="id" *ngIf="isInDebugMode">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <!-- Email -->
    <ng-container matColumnDef="email" *ngIf="isInDebugMode">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
    </ng-container>

    <!-- Type -->
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{ element.type }} </td>
    </ng-container>

    <!-- Foods -->
    <ng-container matColumnDef="foods">
        <th mat-header-cell *matHeaderCellDef> Foods </th>
        <td mat-cell *matCellDef="let element"> {{ element.meals.length }} </td>
    </ng-container>

    <!-- CreatedAt -->
    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Created at </th>
        <td mat-cell *matCellDef="let element"> {{ element.createdAt | date }} </td>
    </ng-container>

    <!-- Details -->
    <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let element">
            <button routerLink="/history/{{ element.id }}" class="button" mat-stroked-button color="secondary">
                View
            </button>
        </td>
        <td mat-cell *matCellDef="let intake">
            <button class="button" mat-stroked-button color="primary" (click)="viewIntakeDetails(intake)">
                View (click)
            </button>
        </td>
    </ng-container>

    <!-- Table headers -->
    <ng-container>
        <tr mat-header-row *matHeaderRowDef="intakesColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: intakesColumns;"></tr>
    </ng-container>

</table>

<h2>Daily intake goal: 2000 calories</h2>

<h3>Carbs</h3>
<h3>Fats</h3>
<h3>Proteins</h3>

<!-- Add new meal -->
<div>
    <button [routerLink]="['/add']">
        Add new meal
    </button>
</div>

<div>
    <button [routerLink]="['/auth']">
        Authenticate
    </button>
</div>

<div>
    <button (click)="onLogout()">
        Logout
    </button>
</div>