<p><b>meal-history</b> works!</p>

<h1>
   Meal information
</h1>

<div *ngIf="mealWasFound">

   <div>
      <label>Meal type:</label>
      <label>{{ meal.type }}</label>
   </div>

   <div *ngFor="let food of meal.foods">
      <label>Foods:</label>
      <p>{{ food }}</p>
   </div>

   <div>
      <label>Created at:</label>
      <label>{{ meal.createdAt | date }}</label>
   </div>

</div>

<div *ngIf="!mealWasFound">
   <p>
      Meal was not found!
   </p>
</div>

<!-- Go back button -->
<div>
   <button [routerLink]="['/dashboard']">
      Back
   </button>
</div>